.list {
    overflow     : auto;
    border-top   : 1px solid #d9d9dd;
    border-bottom: 1px solid #d9d9dd;

    &::-webkit-scrollbar {
        display: none;
    }

    .item {
        display        : flex;
        flex-flow      : column;
        justify-content: space-between;
        padding-top    : 10px;
        text-align     : center;

        p {
            min-width    : 60px;
            margin-bottom: 4px;
            font-size    : 1.4rem;
            line-height  : 1.2;
        }
    }
}