.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    display: flex;
    height: var(--search-height);
    background-color: #f1f1f2;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        font-family: var(--font-family);
        font-size: 1.6rem;
        padding-right: 40px;
        caret-color: var(--primary);
        color: var(--black);
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: black;
        background-color: #e4e4e6;
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: var(--search-btn-width);
        height: calc(var(--search-height) - 18px);
        width: 1px;
        background-color: #d7d7d9;
    }

    &:focus-within {
        border-color: #c4c5c8;
    }
}
.search-title {
    font-size: 1, 4rem;
    font-weight: 600;
    color: #8a8b90;
    padding: 0px 14px;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: #a6a7ab;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: #a6a7ab;
    &:hover {
        color: black;
        background-color: #e4e4e6;
        cursor: pointer;
    }
}
